/* reset-stert */
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Playfair+Display&family=Poppins:wght@200&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

button {
    background: transparent;
    padding-left: 0;
    border: 0;
}

ul {
    padding-left: 0;
    list-style-type: none;
}

a {
    text-decoration: none;
}

/* root */
:root {
    /* colors */
    --yellow:#F2B530;
    --dark-orenge:#CD3625;
    --green:#216659;

    /* back-grond */
    --black:#363634;
    --grey:#949494;

    /* fonts */

    /* font-size */
    --font-size:18px;

    /* font-family */
    --poppines:'Poppins', sans-serif;
    --playfair-Display: 'Playfair Display', serif;
}
/* reset-end */

/* design-start */

/* body */
body {
    background-color: var(--black);
    border: 0;
    max-width: 1440px;
}

/* header */
header {
    padding: 3rem;
    display: flex;
    justify-content:space-between;
    align-items: center;
}

ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
}

.ancor {
    color: white;
    opacity: 0.5;
    font-family: var(--poppines);
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
}

/* ancor-active */
.active:visited {
    color: var(--yellow);
}

/* .ancor {
    position: relative;
}

nav ul .ancor::after {
    content: "";
    display: block;
    width: 4px;
    height: 4px;
    color: var(--yellow);
    border-radius: 32px;
    position: absolute;
    bottom: 70px;
    left: 548px;
} */

.dot-hom {
    position: absolute;
    top: 70px;
    left:548px ;
}

.a-signin {
   margin-top: 5px;
}

.sign {
    display: flex;
    gap: 20px;
    display: inline-flex;
    
}

.signin {
    color: var(--yellow);
    font-size: 0.9rem;
    font-family: var(--poppines);
    font-style:normal ;
    font-weight: 400;
    text-decoration: underline var(--yellow);
}

.back-signup {
    background-color: var(--yellow);
    color: white;
    border-radius: 32px;
    padding: 8px 15px;
}

.signup {
    font-size: 0.8rem;
    font-family: var(--poppines);
    font-style:normal ;
    font-weight: 400;
    color: white;
}

/* section */
.container {
    padding: 40px;
    display: flex;
    justify-content: start;
    gap: 50px;
    width: 100%;
}

.cont-1 {
    width: 50%;
}

h1 {
    color:white;
    font-family: var(--playfair-Display);
    font-size: 3.5rem;
    font-style: normal;
    font-weight: 700;
}

.yellow-de {
    color: var(--yellow);
}

.orenge-ser {
    color: var(--dark-orenge);
}

.p-sec {
    color: var(--grey);
    font-family: var(--poppines);
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    margin-top: 15px;
}

.buttons {
    margin-top: 30px;
    display: flex;
    gap: 20px;
}

.order {
    color: white;
    background-color:var(--dark-orenge) ;
    border-radius: 32px;
    padding: 7px 15px;
    font-family: var(--poppines);
    font-size: 0.7rem;
    font-style: normal;
    font-weight: 400;
}

.learn {
    color: var(--yellow);
    text-decoration: underline;
    font-family: var(--poppines);
    font-size: 0.8rem;
    font-style: normal;
    font-weight: 400;
    margin-top: 5px;
}

.cont-2 {
    margin-top: -30px;
    width: 50%;
    position: relative;
}

.img {
    width: 100%;
    filter: drop-shadow(0px 24px 50px rgba(0, 0, 0, 0.25));
}

.card {
    width: 70%;
}

.clock {
    position: absolute;
    top: 40px;
    left: -10px;
    background-color: var(--yellow);
    padding: 1.5px;
    border-radius: 1.5rem;
    transform: rotate(-30deg);
}

.red {
    position: absolute;
    top: 55px;
    left: -100px;
}

.food {
    background-color: var(--green);
    padding: 4px;
    border-radius: 1.5rem;
    transform: rotate(15deg);
    position: absolute;
    top: 60px;
    left: 350px;
}

.yellow {
    position: absolute;
    top: 90px;
    left: 500px;
}

.resturant {
    background-color: var(--dark-orenge);
    padding: 5px;
    border-radius: 1.5rem;
    transform: rotate(15deg);
    position: absolute;
    top: 350px;
    left: 70px;
}

.customers {
    position: absolute;
    top: 240px;
    left: 300px;
    background-color: white;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    border-radius: 32px;
    box-shadow: 0px 24px 50px 0px rgba(0, 0, 0, 0.10);
}

.reviwe {
    color: #363634;
    font-family: var(--poppines);
    font-size: 0.7rem;
    font-style: normal;
    font-weight: 600;
}

.img-customer {
    width: 150px;
    height: 30px;
    margin-left: -30px;
}

/* section-2 */
.sec-2 {
    padding: 40px;
}

.menus {
    display: flex;
    gap: 120px;
    justify-content:space-between;
    align-items: center;
}

.left {
    color:var(--grey);
}

.col-4 {
    width: calc(100%/12*4);
    display: flex;
    background-color: var(--grey);
    border-radius: 20px;
    justify-content:space-around;
    align-items: center;
    padding: 20px 80px;
    gap: 10px;
    position: relative;
}

.w-img {
    width: 50%;
}

.food-de {
    position: absolute;
    right: 230px;
    bottom: 7px;
    width: 40%;
}

.flex-menu {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.p-sec-2 {
    color: white;
    font-family: var(--poppines);
    font-size: 0.6rem;
    font-style: normal;
    font-weight: 700;
    letter-spacing: 1px;
}

.serves {
    color: var(--black);
    font-family: var(--poppines);
    font-size: 0.6rem;
    font-style: normal;
    font-weight: 400;
}

.act {
    display: flex;
    gap: 10px;
}

.price {
    color: white;
    font-family: var(--poppines);
    font-style: normal;
    font-size: 0,7rem;
    font-weight: 700;
    margin-top: 5px;
}

.action {
    background-color: var(--yellow);
    padding: 4px 14px;
    border-radius: 32px;
    color: white;
    font-family: var(--poppines);
    font-style: normal;
    font-size: 0.7rem;
    font-weight: 500;
    margin-top: 5px;
}

.right {
    background-color: var(--dark-orenge);
}
/* design-end */

@media screen and (max-width:600px) {
    header {
        padding: 1rem;
        display: flex;
        justify-content: start;
        gap: 6px;
    }
    
    ul {
        gap: 15px;
    }

    .sign {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    
    .signin {
        font-size: 0.7rem;
    }
    
    .back-signup {
        padding: 5px 12px;
    }
    
    .signup {
        font-size: 0.7rem;
    }

    .container {
        padding: 10px;
        display: flex;
        row-gap: 40px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    h1 {
        font-size: 1.5rem;
    }

    .p-sec {
        font-size: 0.6rem;
    }

    .card {
        width: 100%;
    }

    .menus {
        display: flex;
        flex-direction: column;
        row-gap: 20px;
        justify-content:start;
        align-items: stretch;
        padding-left: 0;
        padding-right: 0;
    }

    .col-12 {
        width: calc(100%/12*12);
        padding-bottom: 20px;
    }

    .food-de {
        position: absolute;
        right: 250px;
        bottom: 5px;
        width: 27%;
    }
}